.App {
    text-align: center;
  }
  .header{
     background-color:#7393B3;
     color: white;
  }
  button{
    height: 90%;
    width: 10%;
    background-color:#0000FF;
    color: white;
    font-size: large;
    border-radius: 12%;
  }
  input{
    height: 90%;
    width: 30%;
  }
  .logout{
    position:relative;
    left: 85%;
    margin-top:45%;
  }